html,
body,
#root {
  height: 100%;
  margin: 0;
}

.Contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  height: 3rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "~bootstrap/scss/bootstrap";
